@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  background-color: rgb(10, 10, 10);
  font-family: 'Roboto Mono', monospace;
  color: rgb(212, 212, 212);
}
 
.centre-row {
  display: inline-block;
  width: 100%;
}
#intro {
  background-image: url('bckg.gif');
}

#intro h1 {
  color: #fff;
  opacity: 70%;
  border-style: solid;
  border-color: #fff;
  display: inline-block;
}

.bback {
  height: 100%;
  background-color: black;
}

.container {
  display: flex;
}
.drop {
  border: solid;
  border-width: 2px;
  border-radius: 20%;
  border-color: black;
  background-color: #222c36;
}
.grid {
  padding: 2px;
  width: 254px;
  height: 504px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 25px;
  width: 25px;
}

.mini-grid {
  margin-left: 30px;
  margin-right: 60px;
  width: 80px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.score {
  margin-right: 20px;
  width: 150px;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
}

.btn{
  background-color: #3f8c76;
  color: white;
}

.btn:hover {
  color: white;
  text-decoration: none;
}

.btn.active {
  background-color: red;
}

.controls {
  color: #bebebe;
  padding-top:10px;
}

.flash {
  border-color: rgba(247, 254, 255, 0.8) !important;
  background-color: rgba(247, 254, 255, 0.8) !important;
}

.j {
  background-color: #00ffdd;
}
.l {
  background-color: #aaff00;
}
.z {
  background-color: #ffcc00;
}
.s {
  background-color: #ff0062;
}
.t {
  background-color: #d900ff;
}
.o {
  background-color: #5f33ff;
}
.i {
  background-color: #00aaff;
}
.j, .l, .z, .s,
.t, .o, .i {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 20%;
}

.tetr-back {
  padding: 3rem;
  margin-top: 3rem;
  border-radius: 1%;
  background-color: #0c1521;
}

@media (max-width: 992px) {
  #header-title {
    background-size: auto;
  }
}
@media (max-width: 768px) {
  .display-4, .display-6 {
    font-size: 200%;
  }
  #header-title h1 {
    size: 20%;
  }
  .welcome {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .anchor {
    top: -80px;
  }
  .welcome {
    width: 90%;
  }
}
